# This file sets the environment variables used by the binary.
# Please change the default values.

# url to the database
# format: user:password@yourdomain:port/table
# supported backend: PostgresSQL
RIVULET_DATABASE=user:password@yourdomain:port/rivulet

# keys used to generate JWTs
RIVULET_JWT_REFRESH_PRIV_KEY=./keys/rivulet_jwt_refresh_private.pem
RIVULET_JWT_REFRESH_PUB_KEY=./keys/rivulet_jwt_refresh_public.pem
RIVULET_JWT_ACCESS_PRIV_KEY=./keys/rivulet_jwt_access_private.pem
RIVULET_JWT_ACCESS_PUB_KEY=./keys/rivulet_jwt_access_public.pem

# directory used to store uploaded media
RIVULET_MEDIA=./media
# directory used to store temporary files during streaming
RIVULET_STREAM=./stream
# directory used to store temporary files during uploading
RIVULET_TMP=./upload